.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap:20px;
}

.card{
  padding :20px;
  border: 1px solid black;
  border-radius: 10px;
}
img{
  width: 100%;
  object-fit: cover;
}
